{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            My Site
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
<!--
This could be included as a partial but for this example it's never going to change so it's fine to include it in the
base template.
-->
<header id="main-navigation">
    <h1><a href="">My Udemy Blog</a></h1>
    <nav>
        <a href="">All posts</a>
    </nav>
</header>

{% block content %}
    Welcome to my site!
{% endblock %}
</body>
</html>
