{% extends "book_outlet/base.html" %}

{% block title %}All The Books{% endblock %}

{% block content %}
    <ul>
        {% for book in books %}
            <li><a href="{% url 'book_detail_by_slug' slug=book.slug %}">{{ book.title }}</a></li>
            <!--
            This also works, using the Model's self tag:
            <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
            -->
        {% endfor %}
    </ul>
    <hr>
    <p>Average Rating: {{ average_rating }}</p>
    <p>Number of Books: {{ count }}</p>
{% endblock %}
